{% extends "bootstrap/base.html" %}

{% block content %}

<form action="" method="POST" class="px-1">
	{{ forms.hidden_tag() }}
<div class="form-group">
	{{ forms.nombreProducto(class_="form-control",placeholder= "Nombre del Producto") }}
</div>
<div class="form-group">
	{{ forms.precio(class_="form-control",placeholder= "Precio") }}
</div>
<div class="form-group">
	{{ forms.descripcion(class_="form-control", placeholder= "Descripción" ) }}
</div>

<div>
	{{ forms.submit(class_="btn btn-primary")}}
</div>


{% endblock %}
