
<div class="contenedor">
  <div class="tarjeta">
    <div class="tarjeta__imagen">
      <div class="imagen">
	      <img src=f"item{{item.img_pro}}" alt="" >
      </div>
      <div class="precio">
	      <p>{{item.precio}}</p>
      </div>
    </div>
    <div class="tarjeta__menu">
      <div class="tarjeta__menu_info">
	      <p>{{item.producto}} <br> {{item.descripcion}}</p>
      </div>
      <div class="tarjeta__menu_boton">
        <button>añadir al carrito</button>
      </div>
    </div>
  </div>
</div>
