{% extends "bootstrap/base.html" %}

{% block head %}
<meta name="viewport" content="width=device-width, user-scalable=no">

<link rel='stylesheet' type='text/css' href='{{ url_for('static',filename="estilos_galeria.css") }}'

{% endblock %}

{% block title %} Productos {% endblock %} 

{% block content %}
<div class="gallery" id="gallery">

	<div class="pics animation ">
		<img class="" src="{{ url_for('static',filename='pan.jpg') }}">
		<div class=pics__info">
			<p>pan</p>
		</div>
	</div>
	<div class="pics animation ">
		<img class="" src="{{ url_for('static',filename='mantequilla.jpg') }}">
		<div class=pics__info">
			<p>mantequilla</p>
		</div>
	</div>
	<div class=" pics animation ">
		<img class="" src="{{ url_for('static',filename='pescado.jpg') }}">
		<div class=pics__info">
			<p>pescado</p>
		</div>
	</div>

</div>
{% endblock %}
